<div id="container" class="grid grid-cols-12">
    <main class="col-span-10 col-start-2 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4 bg-white p-8 my-10 rounded-md drop-shadow-xl">
        
        <h1 class="text-3xl text-center mb-4 font-semibold">Register User</h1>

        <p class="text-xs text-right italic text-gray-600">
            All <span class="font-semibold text-lg">*</span> fields are mandatory
        </p>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!--! email ------------------------------------------------------->
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    *Your email
                </label>
                <input
                    formControlName="email"
                    type="email"
                    id="email"
                    placeholder="name@demo.com"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <!--* validation for email -->
                <span
                    *ngIf="registerForm && registerForm.get('email')!.errors && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)"
                    class="text-red-500 text-xs"
                >
                    <span *ngIf="registerForm.get('email')?.errors!['required']">
                        Email is required
                    </span>
                    <span *ngIf="registerForm.get('email')?.errors!['email']">
                        Please enter a valid email
                    </span>
                    <span *ngIf="registerForm.get('email')?.errors!['maxlength']">
                        Email is too long
                    </span>
                </span>
            </div>
    


            <!--! first & last name --------------------------------------------------------->
            <div class="mb-5 md:flex gap-4" formGroupName="name">
                <!--? first name ------------------------------------>
                <div class="w-full">
                    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        *First Name
                    </label>
                    <input
                        formControlName="firstName"
                        type="text"
                        id="firstName"
                        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                    <!--* validation for first name -->
                    <span
                        *ngIf="registerForm && registerForm.get('name')!.get('firstName')!.errors && (registerForm.get('name')!.get('firstName')!.dirty || registerForm.get('name')!.get('firstName')!.touched)"
                        class="text-red-500 text-xs"
                    >
                        <span *ngIf="registerForm.get('name')!.get('firstName')?.errors!['required']">
                            First name is required
                        </span>
                        <span *ngIf="((registerForm.get('name')!.get('firstName')?.errors!['minlength'] || registerForm.get('name')!.get('firstName')?.errors!['maxlength']) && (registerForm.get('name')!.get('firstName')?.errors!['pattern']));else elseBlock">
                            Please enter a valid Name
                        </span>
                        <ng-template #elseBlock>
                            <span *ngIf="registerForm.get('name')!.get('firstName')?.errors!['minlength']">
                                Name is too short
                            </span>
                            <span *ngIf="registerForm.get('name')!.get('firstName')?.errors!['maxlength']">
                                Name is too long
                            </span>
                            <span *ngIf="registerForm.get('name')!.get('firstName')?.errors!['pattern']">
                                Please enter a valid name
                            </span>
                        </ng-template>
                    </span>
                </div>

                <!--? last name ------------------------------------->
                <div class="w-full">
                    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        *Last Name
                    </label>
                    <input
                        formControlName="lastName"
                        type="text"
                        id="lastName"
                        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                    <!--* validation for last name -->
                    <span
                        *ngIf="registerForm && registerForm.get('name')!.get('lastName')!.errors && (registerForm.get('name')!.get('lastName')!.dirty || registerForm.get('name')!.get('lastName')!.touched)"
                        class="text-red-500 text-xs"
                    >
                        <span *ngIf="registerForm.get('name')!.get('lastName')?.errors!['required']">
                            First name is required
                        </span>
                        <span *ngIf="((registerForm.get('name')!.get('lastName')?.errors!['minlength'] || registerForm.get('name')!.get('lastName')?.errors!['maxlength']) && (registerForm.get('name')!.get('lastName')?.errors!['pattern']));else elseBlock">
                            Please enter a valid Name
                        </span>
                        <ng-template #elseBlock>
                            <span *ngIf="registerForm.get('name')!.get('lastName')?.errors!['minlength']">
                                Name is too short
                            </span>
                            <span *ngIf="registerForm.get('name')!.get('lastName')?.errors!['maxlength']">
                                Name is too long
                            </span>
                            <span *ngIf="registerForm.get('name')!.get('lastName')?.errors!['pattern']">
                                Please enter a valid name
                            </span>
                        </ng-template>
                    </span>
                </div>
            </div>
    


            <!--! mobile --------------------------------------------------------------->
            <div class="mb-5">
                <label for="mobile" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    *Your mobile
                </label>
                <input
                    formControlName="mobileNumber"
                    type="text"
                    id="mobile"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <!--* validation for mobile number -->
                <span
                    *ngIf="registerForm && registerForm.get('mobileNumber')!.errors && (registerForm.get('mobileNumber')!.dirty || registerForm.get('mobileNumber')!.touched)"
                    class="text-red-500 text-xs"
                >
                    <span *ngIf="registerForm.get('mobileNumber')?.errors!['required']">
                        Mobile number is required
                    </span>
                    <span *ngIf="((registerForm.get('mobileNumber')?.errors!['minlength'] || registerForm.get('mobileNumber')?.errors!['maxlength']) && (registerForm.get('mobileNumber')?.errors!['pattern']));else elseBlock">
                        Please enter a valid Mobile number
                    </span>
                    <ng-template #elseBlock>
                        <span *ngIf="registerForm.get('mobileNumber')?.errors!['minlength'] || registerForm.get('mobileNumber')?.errors!['maxlength']">
                            Mobile number should contain 10 digits only
                        </span>
                        <span *ngIf="registerForm.get('mobileNumber')?.errors!['pattern']">
                            Please enter a valid Mobile number
                        </span>
                    </ng-template>
                </span>
            </div>



            <!--! gender & age ------------------------------------------------------------>
            <div class="mb-5 flex gap-4">
                <!--? gender --------------------------------->
                <div class="w-full">
                    <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Select gender
                    </label>
                    <select formControlName="gender" id="gender" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <!-- <option value="#">Select Gender</option> -->
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>

                <!--? age ------------------------------------>
                <div class="w-full">
                    <label for="age" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Your age
                    </label>
                    <input
                        formControlName="age"
                        type="number"
                        id="age"
                        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                    <!--* validation for age -->
                    <span
                        *ngIf="registerForm && registerForm.get('age')!.errors && (registerForm.get('age')!.dirty || registerForm.get('age')!.touched)"
                        class="text-red-500 text-xs"
                    >
                        <span *ngIf="registerForm.get('age')?.errors!['min']">
                            Age can not be less than 0
                        </span>
                        <span *ngIf="registerForm.get('age')?.errors!['max']">
                            Age can not be more than 150
                        </span>
                    </span>
                </div>
            </div>



            <!--! Address Details ------------------------------------------------------->
            <div class="mb-5" formGroupName="address">
                <fieldset class="border-2 p-4 rounded-md">
                    <legend class="font-semibold px-1">Enter Address</legend>
    
                    <div class="mb-5 flex gap-4">
                        <!--? country ---------------------------->
                        <div class="w-full">
                            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Country
                            </label>
                            <input
                                formControlName="country"
                                type="country"
                                id="country"
                                class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                            <!--* validation for country -->
                            <span
                                *ngIf="registerForm && registerForm.get('address')!.get('country')!.errors && (registerForm.get('address')!.get('country')!.dirty || registerForm.get('address')!.get('country')!.touched)"
                                class="text-red-500 text-xs"
                            >
                                <span *ngIf="(registerForm.get('address')!.get('country')?.errors!['maxlength'] && registerForm.get('address')!.get('country')?.errors!['pattern']);else elseBlock">
                                    Please enter valid country name
                                </span>
                                <ng-template #elseBlock>
                                    <span *ngIf="registerForm.get('address')!.get('country')?.errors!['maxlength']">
                                        Country name is too long
                                    </span>
                                    <span *ngIf="registerForm.get('address')!.get('country')?.errors!['pattern']">
                                        Please enter valid country name
                                    </span>
                                </ng-template>
                            </span>
                        </div>

                        <!--? state ------------------------------->
                        <div class="w-full">
                            <label for="state" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                State
                            </label>
                            <input
                                formControlName="state"
                                type="state"
                                id="state"
                                class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                            <!--* validation for state -->
                            <span
                                *ngIf="registerForm && registerForm.get('address')!.get('state')!.errors && (registerForm.get('address')!.get('state')!.dirty || registerForm.get('address')!.get('state')!.touched)"
                                class="text-red-500 text-xs"
                            >
                                <span *ngIf="(registerForm.get('address')!.get('state')?.errors!['maxlength'] && registerForm.get('address')!.get('state')?.errors!['pattern']);else elseBlock">
                                    Please enter valid state name
                                </span>
                                <ng-template #elseBlock>
                                    <span *ngIf="registerForm.get('address')!.get('state')?.errors!['maxlength']">
                                        State name is too long
                                    </span>
                                    <span *ngIf="registerForm.get('address')!.get('state')?.errors!['pattern']">
                                        Please enter valid state name
                                    </span>
                                </ng-template>
                            </span>
                        </div>

                    </div>

                    <div class="mb-5 flex gap-4">
                        <!--? city ------------------------------------>
                        <div class="w-full">
                            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                City
                            </label>
                            <input
                                formControlName="city"
                                type="city"
                                id="city"
                                class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                            <!--* validation for city -->
                            <span
                                *ngIf="registerForm && registerForm.get('address')!.get('city')!.errors && (registerForm.get('address')!.get('city')!.dirty || registerForm.get('address')!.get('city')!.touched)"
                                class="text-red-500 text-xs"
                            >
                                <span *ngIf="(registerForm.get('address')!.get('city')?.errors!['maxlength'] && registerForm.get('address')!.get('city')?.errors!['pattern']);else elseBlock">
                                    Please enter valid city name
                                </span>
                                <ng-template #elseBlock>
                                    <span *ngIf="registerForm.get('address')!.get('city')?.errors!['maxlength']">
                                        City name is too long
                                    </span>
                                    <span *ngIf="registerForm.get('address')!.get('city')?.errors!['pattern']">
                                        Please enter valid city name
                                    </span>
                                </ng-template>
                            </span>
                        </div>

                        <!--? pin ------------------------------------>
                        <div class="w-full">
                            <label for="pin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Pin
                            </label>
                            <input
                                formControlName="pin"
                                type="pin"
                                id="pin"
                                class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                            <!--* validation for pin -->
                            <span
                                *ngIf="registerForm && registerForm.get('address')!.get('pin')!.errors && (registerForm.get('address')!.get('pin')!.dirty || registerForm.get('address')!.get('pin')!.touched)"
                                class="text-red-500 text-xs"
                            >
                                <span *ngIf="((registerForm.get('address')!.get('pin')?.errors!['minlength'] || registerForm.get('address')!.get('pin')?.errors!['maxlength']) && (registerForm.get('address')!.get('pin')?.errors!['pattern']));else elseBlock">
                                    Please enter a valid pin
                                </span>
                                <ng-template #elseBlock>
                                    <span *ngIf="registerForm.get('address')!.get('pin')?.errors!['minlength'] || registerForm.get('address')!.get('pin')?.errors!['maxlength']">
                                        Pin should contain 6 digits
                                    </span>
                                    <span *ngIf="registerForm.get('address')!.get('pin')?.errors!['pattern']">
                                        Please enter a valid Pin
                                    </span>
                                </ng-template>
                            </span>
                        </div>
                    </div>

                    <!--? area --------------------------------------->
                    <div class="mb-5">
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Area
                        </label>
                        <textarea
                            formControlName="area"
                            id="message"
                            rows="4"
                            placeholder="Write your area details here..."
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        ></textarea>
                        <!--* validation for area -->
                        <span
                            *ngIf="registerForm && registerForm.get('address')!.get('area')!.errors && (registerForm.get('address')!.get('area')!.dirty || registerForm.get('address')!.get('area')!.touched)"
                            class="text-red-500 text-xs"
                        >
                            <span *ngIf="(registerForm.get('address')!.get('area')?.errors!['maxlength'] && registerForm.get('address')!.get('area')?.errors!['pattern']);else elseBlock">
                                Area should contain 'letter', ',' & '.' only
                            </span>
                            <ng-template #elseBlock>
                                <span *ngIf="registerForm.get('address')!.get('area')?.errors!['maxlength']">
                                    Area details are too long
                                </span>
                                <span *ngIf="registerForm.get('address')!.get('area')?.errors!['pattern']">
                                    Area should contain 'letter', ',' & '.' only
                                </span>
                            </ng-template>
                        </span>
                    </div>

                    <!--? landmark ---------------------------------------->
                    <div class="w-full">
                        <label for="landmark" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Landmark
                        </label>
                        <input
                            formControlName="landmark"
                            type="landmark"
                            id="landmark"
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        >
                        <!--* validation for landmark -->

                        <span
                            *ngIf="registerForm && registerForm.get('address')!.get('landmark')!.errors && (registerForm.get('address')!.get('landmark')!.dirty || registerForm.get('address')!.get('landmark')!.touched)"
                            class="text-red-500 text-xs"
                        >
                            <span *ngIf="(registerForm.get('address')!.get('landmark')?.errors!['maxlength'] && registerForm.get('address')!.get('landmark')?.errors!['pattern']);else elseBlock">
                                Landmark should contain 'letter' & ',' only
                            </span>
                            <ng-template #elseBlock>
                                <span *ngIf="registerForm.get('address')!.get('landmark')?.errors!['maxlength']">
                                    Landmark is too long
                                </span>
                                <span *ngIf="registerForm.get('address')!.get('landmark')?.errors!['pattern']">
                                    Landmark should contain 'letter' & ',' only
                                </span>
                            </ng-template>
                        </span>
                    </div>
                </fieldset>
            </div>



            <!--! password -------------------------------------------------------------------->
            <div class="mb-5">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    *Password
                    </label>
                <input
                    formControlName="password"
                    type="password"
                    id="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
            </div>



            <!-- <p class="text-xs text-gray-600 my-2">
                All * fields are mandatory
            </p> -->

            <button [disabled]="!registerForm.valid" type="submit" class="disabled:cursor-not-allowed disabled:bg-gray-400 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Register
            </button>
            <!-- <button (click)="onSubmit()">test</button> -->

            <!--! register link -->
            <p class="text-xs text-gray-600 my-2">
                Already a user? Login <a routerLink="/login" class="text-blue-600">here</a>
            </p>

        </form>
    </main>
</div>