<div id="container" class="w-[95%] mx-auto md:grid md:grid-cols-12">
    <main class="col-span-10 col-start-2">
        <div class="bg-white p-8 my-4 rounded-md drop-shadow-xl">

            <div class="md:grid grid-cols-3 grid-rows-3">
                <!--! pic, name, email, mobile -->
                <section class="col-start-2 row-span-3 flex flex-col items-center gap-1">
                    <div id="avatar" class="border-2 border-black w-fit overflow-hidden shadow-lg">
                        <img class="h-44" [src]="selectPic(user?.gender)" alt="">
                    </div>
                    <h2 class="text-4xl mt-5">{{ user?.name?.firstName }} {{ user?.name?.lastName }}</h2>
                    <h2 class="text-xs text-gray-400">{{ user?.email }}</h2>
                    <h2 class="flex items-center gap-2">
                        <img class="h-5" src="../../assets/gifs/phone.gif" alt="">
                        <p>{{ user?.mobileNumber }}</p>
                    </h2>
                </section>

                <!--! age, gender -->
                <section class="col-start-1 row-start-2 row-span-1 flex justify-center items-center gap-4 mt-5 md:mt-0">
                    <div class="w-28 text-gray-500 text-center bg-white border border-gray-200 rounded-lg shadow-lg dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                        <div class=" text-xs px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                            <h3 class="font-semibold dark:text-white">Age</h3>
                        </div>
                        <div class="px-3 py-2 text-2xl font-semibold text-gray-800">
                            <p>{{ user?.age }}</p>
                        </div>
                    </div>
                    <div class="w-28 text-gray-500 text-center bg-white border border-gray-200 rounded-lg shadow-lg dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                        <div class=" text-xs px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                            <h3 class="font-semibold dark:text-white">Gender</h3>
                        </div>
                        <div class="px-3 py-2 text-2xl font-semibold text-gray-800">
                            <p>{{ user?.gender | titlecase }}</p>
                        </div>
                    </div>
                </section>

                <!--! buttons -->
                <section class="col-start-3 row-start-2 row-span-1 hidden md:flex justify-center gap-2 items-center mt-5 md:mt-0">
                    <button
                        (click)="navigate('')"
                        type="button"
                        class="h-fit text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg shadow-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    >
                        Home
                    </button>
                    <button
                        (click)="logout()"
                        type="button"
                        class="h-fit focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg shadow-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
                    >
                        Logout
                    </button>
                </section>

            </div>

            <!--! address -->
            <section class="mt-7 md:w-[60%] md:mx-auto">
                <fieldset class="border-2 p-4 md:px-10 rounded-md">
                    <legend class="font-semibold text-gray-500 text-center text-3xl px-1">Address</legend>

                    <div class="flex justify-between text-lg font-semibold">
                        <p>Country: <span class="font-normal">{{ user?.address?.country }}</span></p>
                        <p>State: <span class="font-normal">{{ user?.address?.state }}</span></p>
                    </div>

                    <div class="flex justify-between text-lg font-semibold">
                        <p>City: <span class="font-normal">{{ user?.address?.city }}</span></p>
                        <p>PIN: <span class="font-normal">{{ user?.address?.pin }}</span></p>
                    </div>

                    <fieldset class="border rounded-md mt-2 px-1 md:p-3 md:px-4 flex flex-col justify-center">
                        <legend class="text-gray-400">Area</legend>
                        <p>{{ user?.address?.area }}<p>
                    </fieldset>

                    <fieldset class="border rounded-md mt-2 px-1 md:p-3 md:px-4 flex flex-col justify-center">
                        <legend class="text-gray-400">Landmark</legend>
                        <p>{{ user?.address?.landmark }}<p>
                    </fieldset>

                </fieldset>
            </section>

            <!--! buttons -->
            <section class="flex justify-center gap-2 mt-5 md:hidden">
                <button
                    (click)="navigate('')"
                    type="button"
                    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg shadow-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                >
                    Home
                </button>
                <button
                    (click)="logout()"
                    type="button"
                    class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg shadow-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
                >
                    Logout
                </button>
            </section>

        </div>
    </main>


    <!-- <button>All users</button> -->
</div>

